* {
    margin: 0.5;
    padding: 5;
    box-sizing: border-box;
}

body {
    font-family: Arial, bold;
    background-color: bisque;
    color: brown;
    line-height: 2;
}

header {
    background-color: brown;
    color: bisque;
    padding: 20px;
    text-align: center;
}

header h1 {
    font-size: 2.5;
}

nav a {
    color: bisque;
    text-decoration: none;
    font-size: 2;
}

.lista-de-bolos {
    padding: 20px;
}

details {
    background-color: bisque;
    border: 1px solid brown;
    margin-bottom: 20px;
    padding: 10px;
    border-radius: 5px;
}

summary {
    font-size: 1.5;
    cursor: pointer;
    font-weight: bold;
}

details p,ul {
    margin-top: 10px;
}

details ul {
    list-style-type: disc;
    margin-left: 20px;
}

time {
    font-style: italic;
    color: brown;
}

footer {
    background-color: brown;
    color: bisque;
    text-align: center;
    padding: 10px;
    margin-top: 20px;
}