* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: bisque;
}

.header {
    background-color: white;
    padding: 0.5em;
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    border-bottom: 1px solid beige;
}

.logo {
    text-align: center;
}

.nav {
    text-align: center;
}

.nav ul {
    list-style: none;
}

.nav li {
    display: inline-block;
    margin-right: 20px;
}

.nav a {
    text-decoration: none;
    color: black;
}

.main {
    display: grid;
    grid-template-columns: 1fr;
    gap: 1em;
    padding: 1em;
}

.perfil {
    display: grid;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0.5em;
    background-color: white;
    border: 1px solid beige;
    border-radius: 10px;
    box-shadow: 1px 1px 10px rgba(1, 1, 1, 1);
}

.foto-perfil img {
    height: 200px;
    width: 200px;
    align-items: center;
    justify-content: center;
    object-fit: cover;
    border-radius: 100%;
}

.bio {
    text-align: center;
}

.fotos {
    display: grid;
    grid-template-columns: 1fr;
    gap: 0.5em;
}

.grid-fotos {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 0.5em;
}

.grid-fotos img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.footer {
    background-color: white;
    padding: 1em;
    text-align: center;
    border-top: 1px solid beige;
}