*{
    margin: 5px;
    padding: 5px;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12pt;
}

html, body{
    height: 100%;
    width: 100%;
}

form{
    width: 50px;
    margin: auto;

}

.grupo{
    margin: 5px;
    padding: 5px;
}

.centralizar{
    text-align: center;
}

input[type='submit']{
    padding: 5px;
    background-color: white;
}

input[type='checkbox'], input[type='radio']{
    margin: 5px;
}

fieldset{
    padding: 5px;
}